<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dawid Trojanowski</title>
</head>
<body>
<div id="nav" class="navbar2"></div>

<div class="row">
  <div id="lorem" class="col-9 col-sm-9 col-md-9 col-lg-9">

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      recusandae facere veniam at ut. Tempore dolore voluptas exercitationem
      qui, voluptate cupiditate. Blanditiis accusantium repudiandae tempore
      doloremque, vel vitae incidunt similique.
    </p>
  </div>
  <div class="col-3 col-sm-3 col-md-3 col-lg-3">
    <h3>
      Szybki kontakt
    </h3>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#"
        ><i class="fa fa-facebook-official" aria-hidden="true"></i
        >Facebook</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"
        ><i class="fa fa-instagram-official"></i>Instagram</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#"
        ><i class="fa fa-envelope-square"></i>Email</a
        >
      </li>
    </ul>
  </div>
</div>

<div class="scroll" style="padding-left: 5%; padding-top: 10%; position: absolute">
  <button class="btn btn-success">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>Do góry
  </button>
</div>

<div id="content-wrap" align="center">
  <footer class="footer-text">
    Copyrights © Dawid Trojanowski 2020
  </footer>
</div>
</body>
</html>
