button{
  background-color: lightskyblue;
  width: 40%;

}
.loginItems{
  text-align: center;
  align-content: center;
  align-items: center;
  alignment: center;
}
.container{
  padding-top: 30px;
  text-align: center;
  width:70%;
  .input-group{
    padding: 10px;
  }
}
  #wrapper {
    display: flex;
    justify-content: center;
  }

